<!DOCTYPE html>
<html>
    <head>
        <title>Stroll Trek Run - Walking for Everybody</title>
        <link rel='stylesheet' href='../stylesheets/all.css'>
        <link rel='stylesheet' href='../stylesheets/style.css'>
    </head>
    <body>
    <div class='partialWrapper header'>
        <nav>
            <a class="logo" href="/">Stroll Trek Run</a>
            <ul>
                <li><a href="/trails">View Trails</a></li>
                <% if(!currentUser){ %>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                <% } else { %>
                        <li><a href="/trails/new">Add Trail</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><Hi <%=currentUser.username %></li>
                <% } %>
            </ul>
        </nav>
    </div>
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-error"><h2><%= error %></h2> </div>
        <% } else if (success && success.length > 0){ %>
            <div class="alert alert-success"> <h2><%= success %></h2> </div>
        <% } %>