<!DOCTYPE html>
<html>
    <head>
        <title>Stroll Trek Run - A Way for Anyone</title>
        <link rel='stylesheet' href='../stylesheets/homeStyle.css'>
    </head>
    <body>
    <div class="cover">
        <div class="welcome">
            <h1> Stroll Trek Run </h1>
            <p>Share your favourite trails with the world</p>
            <a href="/trails"><button class="homeButton">Explore</button></a>
            <a href="/login"><button class="loginButton">Login</button></a>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    </body>
    