
<% let updateDifficulty = function(text) { %>
      <% console.log("hey " + text) %>
<% } %>
//define change function



<h1 id="title"> My test area </h1>

<select id="difficulty" name="difficulty">
        <option value="0">0 - Toddlers could do this trail</option>
        <option value="1">1 - A relaxing walk for anyone</option>
        <option value="2">2 - Needs an average level of fitness</option>
        <option value="3">3 - For those wanting to push themselves a little</option>
        <option value="4">4 - A high level of fitness and experience needed</option>
</select>


 

            




   
