@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato');

:root {
    font-family: 'Lato', sans-serif;
    --white: rgb(240, 240, 240);
    /* 1. define my black
    2. define my white background
    3. define my feature color
    4. Link colour
    5. accent grey */
    --black: rgb(15,15,15);
    --feature: rgb(180, 240, 0);
    --lightTint: rgb(223, 223, 223);
    --whiteTransparent: rgba(240,240,240,0.8);
    --darkTint: rgb(179, 179, 179);
    --darkerTint: rgb(63, 63, 63);
    --darkerTintTransparent: rgba(63, 63, 63, 0.4);
}


html {
    font-size: 16px;
    color: var(--black);
    line-height: 1.5;
    background-color: var(--white);
}

body {
    margin:0;
}

h2{
    font-weight: 200;
}
.tinyText{
    font-weight: 100;
    font-size: 0.8rem;
    color: var(--darkerTint);    
}

a {
    text-decoration: none;
    color: var(--white)
}
a:visited {
    color: var(--white)
} 
a:hover {
    color: var(--feature);
    text-decoration: underline;
}


.partialWrapper{  
    padding-bottom: 10px;
    background: var(--darkerTint);
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    width: 100%;
}

.footer{
    position: relative;   
    bottom: 0;
    height: 200px;

}

nav {
    width: 100%;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    text-align: right;
}
nav ul li {
    padding-right: 50px;
}

.logo {
    color: var(--feature);
    padding-left: 50px;
    padding-right:50px;
    text-transform: none;
    font-family: 'Kaushan Script',serif;
    font-size: 1.5rem;
    text-shadow: 3px 3px black;
}

.feature{
    color: var(--feature);
}

/* Home Page */

.cover {
    /* background: url("/images/strsplash3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
        font-family: 'Kaushan Script',
        serif;
    line-height: 1;
    font-size: 2em;
}
.welcome {
    z-index:2;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 5%;
    text-align: center;
    width: 450px;
    height: 300px;
    color: var(--white);
    background: rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    text-shadow: 3px 3px black;
}
.welcome h1{
    color: var(--feature);
    font-family: 'Kaushan Script',serif;
    
}
.welcome p, .homeButton, .loginButton{
    color: var(--white);
    font-size: 0.5em;
    text-transform: uppercase;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
}
.homeButton, .loginButton{
    background: none;
    padding: 30px 40px;
    border: 3px solid var(--white);
    margin: 20px auto;
    transition: all 1s;
    z-index: 3;
}

.loginButton{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 15px 20px;
    margin: 10px auto;
    color: var(--white)
}
.homeButton:hover, .loginButton:hover{
    transition: all 1s;
    color: var(--black);
    background: var(--feature);
    border: 3px solid var(--darkerTint);
}

.slideshow{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index:0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1){
    background-image: url("/images/strsplash1.jpg");
}
.slideshow li:nth-child(2) {
    background-image: url("/images/strsplash2.jpg");
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url("/images/strsplash3.jpg");
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url("/images/strsplash4.jpg");
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url("/images/strsplash5.jpg");
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}



/* Index Page */

.trailWrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 8px;
}
.trail{
    display:flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    margin: 20px 20px;
    background: var(--lightTint); 
    border: 1px solid var(--darkTint);
    padding-bottom: 10px;
}
.trail img {
    object-fit: fill;
    height: 75%;
    width:400px;
}
.trail h2{
    /* color: var(--feature); */
    text-shadow: 2px;
    font-weight: 300;
}

.formWrapper {
    text-align: center;
    background: url("/images/strsplash3.jpg");
    background-size: cover;
    background-position: center;
}
/* Forms are not inline by default */
.bigForm {
    text-align: left;
    text-transform: uppercase;
    margin: 0px auto;
    display:flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 80%;
    padding: 10px 50px;
    border: 1px solid var(--darkerTint);
    background: var(--white);
}

.smallForm {
    text-align: center;
    text-transform: uppercase;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px 50px;
    border: 1px solid var(--darkerTint);
    background: var(--white);
}
.fancyHeading {
    font-size: 3rem;
}

input, select {
    border: 1px solid var(--darkerTint);
    background: var(--white);
    height: 50px;  
    font-family: 'Lato', sans-serif;
    width: 80%;
    font-size: 16px;
}
.smallInput{
    max-width: 100px;
    font-size: 20px;
}
.bigButton {
    padding-left: 20px;
    padding-right: 20px; 
    margin: 20px auto;
    font-size: 16px;
    border: 1px solid var(--darkerTint);
    background: var(--white);
    height: 50px;
    transition: all 0.5s
}

.smallButton{
    background: rgba(0, 0, 0, 0.4);
    text-transform: lowercase;
    color: var(--white);
    width: 70px;
    padding: 10px 15px;
    border-radius: 2px;
    transition: all 0.5s;
    margin: 0 10px;
}
.bigButton:hover {
    background: var(--feature);
    transition: all 0.5s
}
.delete{
    border: 2px solid red;
}
.edit{
    border: 2px solid goldenrod;
}
.add {
    border: 2px solid cornflowerblue;
}

.delete:hover{
    background: rgba(60, 0, 0);
}

.edit:hover {
    background: rgba(60, 46, 0);
}

.features {
    text-transform: none;
    display:flex;
    flex-wrap: wrap;
}
.features input {
    width:20px; 
}
label{
    padding-right: 30px;
}
#fullDescription{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


/* Show Page Styling  */
.showHero {
    height: 600px;
    width: 100%;
    height:90vh; 
    min-width: 400px;
    margin-bottom: 50px;
}

.heroImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    margin: 0;
    min-width: 600px;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    text-align: center;
    color: var(--white);
}

.heroText > * {
    text-shadow: 3px 3px black;
    z-index: 4;
    background: var(--darkerTintTransparent);
    padding: 10px 10%;
    font-weight: 200;
}

.heroText h1{
    font-family: 'Kaushan Script', serif;
    color:var(--feature);
    font-size: 3em;
}
.heroButtons{
    background: none;
    display:flex;
    justify-content: space-around;
    width: 30%;
}

.showWrapper{
    display:flex;
    flex-direction: column;
    background: var(--darkTint);
}
.showDetails{
    width: 75%;
    margin: 0 auto;
}
.showDetails > section{
    background: var(--white);
    margin: 40px auto;
    padding: 50px 10%;
}
.keyPoints{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyPoints > * {
    display:flex;
    justify-content: space-around;
    text-align:center; 
    align-items: center;
    flex-wrap: wrap;
}
.keyDetails{
    width: 80%;
}

.keyFeatures {
    flex-direction: row;
}
.keyFeatures > * {
    width: 150px;
    background:var(--lightTint);
    margin: 10px;
    padding-top: 20px;
}

/* Comments */
.commentHeader {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment{
    width: 90%;
    display: flex;   
    justify-content: space-between;
    background:var(--lightTint); 
    margin: 30px 0;
    padding: 10px;
}
.commentButtons{
    display: flex;
    align-items: center;
   
}



/* Flash Message Styling */
.alert-success {
    width: 80%;
    padding: 10px;
    text-align: center;
    background: var(--whiteTransparent);
    border: 2px solid green;
    border-radius: 5px;
    color: green;
    margin: 0px auto;
}

.alert-error {
    width: 80%;
    padding: 10px;
    text-align: center;
    background: var(--whiteTransparent);
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    margin: 0px auto;
}
